* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #020617;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar h2 {
    color: #38bdf8;
    font-size: 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 14px;
}

/* HERO */
.hero {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #38bdf8;
    margin-bottom: 15px;
    animation: float 4s ease-in-out infinite;
}

.hero h1 {
    font-size: 26px;
}

.hero p {
    font-size: 15px;
    margin-top: 8px;
}

.hero span {
    color: #38bdf8;
}

/* BUTTON */
.btn {
    margin-top: 18px;
    padding: 10px 24px;
    background: #38bdf8;
    color: #020617;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
}

/* SECTIONS */
section {
    padding: 40px 20px;
}

h2 {
    color: #38bdf8;
    margin-bottom: 15px;
    font-size: 22px;
}

/* SKILLS */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.skills-grid div {
    background: #020617;
    padding: 12px;
    text-align: center;
    border-radius: 10px;
}

/* PROJECTS */
.project-card {
    background: #020617;
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 12px;
}

/* EXPERIENCE */
.experience-box {
    background: #020617;
    padding: 18px;
    border-radius: 12px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #020617;
    font-size: 14px;
}

/* ANIMATIONS */
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}

/* ---------- TABLET ---------- */
@media (min-width: 768px) {
    .navbar {
        padding: 20px 50px;
    }

    .navbar h2 {
        font-size: 24px;
    }

    .navbar ul li a {
        font-size: 16px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
    }

    section {
        padding: 60px 50px;
    }

    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ---------- DESKTOP ---------- */
@media (min-width: 1024px) {
    .skills-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .hero h1 {
        font-size: 42px;
    }
}
